@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-webkit-scrollbar {
    width: 1.5em;
}

::-webkit-scrollbar-track {
    background: hsl(120 75% 50% / 1);
    border-radius: 100vw;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    background: hsl(120 100% 20% / 1);
    border: ;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(120 100% 10% / 1);
}

div {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 7px;
    margin-top: 5em;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}

.img-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.img-centered:hover {
    opacity: 0.7;
}

h2 {
  font-family: 'Merriweather', sans-serif;
  font-weight: semi-bold;
  font-size: 2rem;
  text-align: center;
}

.img-normal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

button {
    background-color: #12acff;
    border-radius: 7px;
    border: 1px solid #12acff;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}

button:hover {
    background: #005582;
    border: 1px solid #12acff;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #005582;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s ease-in-out;
}

a:hover {
    color: white !important;
}